nav{
text-decoration: none;
}
.header{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: stretch;
}
.menu{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}